.container {
  width: 700px;
  height: 570px;
  margin: 0px auto;
  background-color: #3E94EC;
  padding: 40px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

th, td {
  height: 80px;
  width: 300px;
  padding: 0px 20px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: RGBA(27, 30, 36, 1.00);
  color: RGBA(212, 220, 228, 1.00);
  font-size: 30px;
  font-weight: lighter;
  text-align: left;
  border-bottom: 4px;
}

td {
  font-size: 20px;
  color: RGBA(102, 107, 132, 1.00);
  border: 2px solid #9EA7AF;
  border-left: 0px;
}

tr :first-child {
  border-left: 0;
}

tr :last-child {
  border-right: 0;
}

.utso {
  border-bottom: 0px;
}

.bal {
  border-bottom-left-radius: 5px;
}

.jobb {
  border-bottom-right-radius: 5px;
}

.elso {
  border-right: 2px solid #343A45;
  border-top-left-radius: 5px;
}

.masodik {
  border-top-right-radius: 5px;
}

thead {
  border-bottom: 4px solid #9EA7AF;
}

.darker {
  background-color: #EBEBEB;
}

.lighter {
  background-color: #FFFFFF;
}
