html, body {
  height: 100%;
  width: auto;

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*font-size: 14px;*/
}
.wrapper {
  height: auto;
  margin: auto;
}
/*sidebarleft*/

.sidebarleft {
  height: 100%;
  width: 180px;
  background-color: #f2eff5;
  background: linear-gradient(white, #f2eff5 10%);
  -moz-background: linear-gradient(white, #f2eff5 10%);
  -webkit-background: linear-gradient(white, #f2eff5 10%);
  float: left;
  clear: left;
  margin: 0;
  padding: 10px 20px 10px 10px;
  box-sizing: border-box;
  font-size: 12px;
}

.sidebarleft ul {
  list-style-type: none;
  padding: 20px;
}

img {
  height: auto;
  width: 140px;
  padding: 15px;
}
/*header*/

header {
  height: 20px;
}

/*kozepso resz*/

main {
  width: auto;
  height: auto;
  /*position: relative;*/
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 20px;
  font-size: 14px;
  line-height: 1.5;
  margin-left: 180px;
  border-left: 1px solid #84CFFF;
  /*border-top: 1px solid #84CFFF;*/
}

h1, h2 {
  font-family: serif;
  margin-bottom: 0px;
  font-weight: 100;
}

h1 {
  font-size: 34px;
}

hr {
  margin: 0 auto;
}

h4 {
  margin-top: 5px;
  font-weight: normal;
}

.others {
  font-style: italic;
}

.tablazat {
  width: 250px;
  border: 1px solid grey;
  float: right;
  clear: right;
  margin: 0 20px 20px;
  background-color: #f2eff5;
}

table {
  margin: auto 10px;
}

tr :first-child {
  font-weight: bold;
  padding-right: 5px;
}

.margaret {
  width: 220px;
  length: auto;
  padding: 0px 15px;
}

.tabla {
  font-weight: bold;
  font-size: 15px;
  margin: 5px;
}

.hamilton {
  margin-top: 0;
}

.tablazat p {
  text-align: center;
  padding: 0;
}

.content ul {
  list-style-type: none;
  padding: 0;

}

.content ul ul {
  padding-left: 20px;
}

.content {
  border: 1px solid grey;
  margin: 0 20px;
  width: 110px;
  padding-left: 5px;
  background-color: #f2eff5;
}

.quote {
  padding: 20px 50px;
}
.cite {
  padding-left: 20px;
  padding-top: 10px;
}

.kepes {
  border: 1px solid grey;
  float: right;
  clear: right;
  margin: 0 20px 20px;
  background-color: #f2eff5;
  width: 222px;
  height: auto;
  padding: 3px;
  line-height: normal;
  font-size: 12px;
}
.kepes img {
  border: 1px solid grey;
  width: 220px;
  height: auto;
  padding: 0px;
}
