.container {
  width: 500px;
  height: 500px;
  background-color: #333333;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

.border, .button, .text {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 40%;
}

.border {
  border: 3px solid #FF6347;
  transition: 1s;
}

.button {
  background-color: white;
  color: #333333;
  font-size: 15px;
  font-weight: bolder;
  transform: rotateZ(45deg);
}

.text {
  height: 50px;
  position: absolute;
  text-align: center;
  padding-left: 5px;
  line-height: 0%;
  transition: 1s;
  top: 50%;
}

.container:hover .text {
  color: #FF6347;
}

.container:hover .border {
  transform: rotateZ(360deg);
}
